.places {
    padding-bottom: 12px;
}

@media screen and (max-width: 1023px) {
    .places {
        padding-bottom: 18px;
    }
}

@media screen and (max-width: 767px) {
    .places {
        padding-bottom: 16px;
    }
}