@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    src: url(./fonts/Inter-3.19/Inter\ Web/inter.css);
}

body {
    background-color: #E5E5E5;
}

.page {
    max-width: 1280px;
    background-color: #2A2C2F;
    font-family: 'Inter', Arial, sans-serif;
    color: white;
}

.header {}

.header__nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 48px;
    padding: 0;
    padding-top: 28px;
}

.header__lang-link {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.header__lang-link:first-child {
    margin-right: 18px;
    text-decoration: underline;
}

.lead {
    color: white;
}

.header__lang {}

.lead__title {
    margin: 0 auto;
    margin-top: 56px;
    font-size: 96px;
    font-weight: 900;
    line-height: 100px;
    height: 200px;
    width: 720px;
    text-align: center;
}

.lead__subtitle {
    margin: 32px 320px;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    text-align: center;
}

.lead__image {
    width: 984px;
    height: 615px;
    margin: 0 148px;
    margin-top: 32px;
    margin-bottom: 8px;
}

.lead__caption {
    height: 14px;
    width: 158px;
    margin: 0;
    margin-left: 148px;
    font-size: 10px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 1.5px;
    text-align: left;
}

.intro {
    margin: 0 auto;
    width: 690px;
}

.intro__title {
    height: 58px;
    margin: 0 auto;
    margin-top: 92px;
    margin-bottom: 40px;
    font-size: 54px;
    font-weight: 900;
    line-height: 58px;
    letter-spacing: 0em;
    text-align: left;
}

.intro__text {
    margin: 0 auto;
    height: 208px;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
}

.intro__list {
    margin: 0 auto;
    margin-top: 33px;
    height: 90px;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
}

.photo-grid {
    margin: 92px 48px;
    display: grid;
    gap: 16px;
    grid-template-columns: 284px 284px 284px 284px;
}

.photo-grid__item {
    height: 213px;
    width: 284px;
}

.places {}

.place {
    margin: 0 148px 80px;
    /* display: flex; */
    width: 984px;
    display: grid;
    grid-template-columns: 460px 484px;
    grid-template-rows: auto 12px 34px 48px 460px;
    grid-column-gap: 40px;
}

.place__title {
    height: auto;
    margin: 0;
    font-size: 72px;
    font-weight: 900;
    line-height: 76px;
    letter-spacing: 0em;
    text-align: left;
    grid-column: 1/2;
    grid-row: 1/4;
    align-items: end;
}

.place__image {
    margin: 0;
    grid-column: 1/2;
    grid-row: 5/6;
}

.place__url-heading {
    font-size: 12px;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: 2px;
    text-align: left;
    margin: 0;
    margin-bottom: 12px;
    grid-column: 2/3;
    grid-row: 2/3;
}

.place__link {
    display: flex;
    grid-column: 2/3;
    grid-row: 3/4;
    align-items: flex-end;
}

.place__link:hover {
    opacity: 0.8;
}

.place__paragraphs {
    margin: 0;
    grid-column: 2/3;
    grid-row: 5/6;
}

.place__paragraph {
    margin: 0;
    font-size: 18px;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
}

.place__paragraph:first-child {
    margin-bottom: 26px;
}

.cover {
    position: relative;
    margin: 92px 48px 0px;
    max-width: 1184px;
    min-height: 740px;
    background-image: url(./image/__background.png);
    display: flex;
    flex-direction: column;
    margin-bottom: 92px;
    text-decoration: none;
}

.cover:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(./image/__overlay.png);
    background-color: #2A2C2F;
    opacity: 0.3;
    transition: opacity 1s;
}

.cover:hover:before {
    opacity: 0.8;
}

.cover__title {
    max-width: 560px;
    position: relative;
    margin: 0 auto;
    padding-top: 245px;
    font-size: 72px;
    font-weight: 900;
    line-height: 76px;
    letter-spacing: 0em;
    text-align: center;
    color: white;
}

.cover__subtitle {
    max-width: 360px;
    position: relative;
    margin: 0 auto;
    margin-top: 32px;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;
    color: white;
}

.footer {
    display: flex;
    flex-direction: row;
    margin: 0 48px;
    justify-content: space-between;
    align-items: center;
}

.footer__links {
    display: flex;
    gap: 18px;
}

.footer__link {
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
}

.footer__copyright {
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
}