.intro__list {
    margin: 0 auto;
    margin-top: 33px;
    max-width: 690px;
    min-height: 90px;
    font-size: 12px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    list-style: none;
    padding: 0;
}

@media screen and (max-width: 1279px) {
    .intro__list {
        max-width: 690px;
    }
}

@media screen and (max-width: 1023px) {
    .intro__list {
        max-width: 720px;
    }
}

@media screen and (max-width: 767px) {
    .intro__list {
        margin-top: 34px;
        max-width: 288px;
        margin-left: 16px;
    }
}