.header__nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 48px;
    padding: 0;
    padding-top: 28px;
}

@media screen and (max-width: 1023px) {
    .header__nav {
        margin: 0 24px;
    }
}