.place__paragraphs {
    margin: 0;
    grid-column: 2/3;
    grid-row: 5/6;
}

@media screen and (max-width: 767px) {
    .place__paragraphs {
        grid-row: 9/10;
        grid-column: 1/2;
    }
}