@font-face {
    font-family: ''Inter'';
    src: url("/Inter-3.19(1)/Inter Web/Inter-Black.woff2") format("woff2"), url("/Inter-3.19(1)/Inter Web/Inter-Black.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: ''Inter'';
    src: url("/Inter-3.19(1)/Inter Web/Inter-Regular.woff2") format("woff2"), url("/Inter-3.19(1)/Inter Web/Inter-Regular.woff") format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: ''Inter'';
    src: url("/Inter-3.19(1)/Inter Web/Inter-Bold.woff2") format("woff2"), url("/Inter-3.19(1)/Inter Web/Inter-Bold.woff") format("woff");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}