.place__link {
    display: flex;
    grid-column: 2/3;
    grid-row: 3/4;
    align-items: flex-end;
}

.place__link:hover {
    opacity: 0.8;
}

@media screen and (max-width: 767px) {
    .place__link {
        grid-column: 1/2;
        grid-row: 5/6;
    }
}