.cover__title {
    max-width: 560px;
    position: relative;
    margin: 0 auto;
    padding-top: 245px;
    font-size: 72px;
    font-weight: 900;
    line-height: 76px;
    letter-spacing: 0em;
    text-align: center;
    color: white;
}

@media screen and (max-width: 1279px) {
    {}
}

@media screen and (max-width: 1023px) {
    .cover__title {
        padding-top: 115px;
    }
}

@media screen and (max-width: 767px) {
    .cover__title {
        padding-top: 33px;
        font-size: 32px;
        line-height: 35px;
    }
}