.place {
    margin: 0 148px 80px;
    /* display: flex; */
    max-width: 984px;
    display: grid;
    grid-template-columns: 460px 48px 484px;
    grid-template-rows: auto 12px 34px 48px 460px;
}

@media screen and (max-width: 1279px) {
    .place {
        margin: 0px 48px 80px;
        grid-template-columns: 440px 32px 456px;
    }
}

@media screen and (max-width: 1023px) {
    .place {
        margin: 0px 24px 72px;
        grid-template-columns: 340px 28px 352px;
    }
}

@media screen and (max-width: 767px) {
    .place {
        margin: 0px 0px 50px 0px;
        grid-template-columns: 320px;
        grid-template-rows: 35px 32px 12px 12px 22px 32px 320px 32px auto;
    }
}