.intro__title {
    min-height: 58px;
    margin: 0 auto;
    margin-top: 92px;
    margin-bottom: 40px;
    font-size: 54px;
    font-weight: 900;
    line-height: 58px;
    letter-spacing: 0em;
    text-align: left;
}